{% extends "layouts/_layout.html" %} {% from 'partials/_mixins.html' import icon
%} {% block content %}

<section class="about">
  <div class="container">
    <div class="breads">
      <a href="#" class="breads__link">Главная</a>
      /
      <a href="#" class="breads__link">Контакты</a>
    </div>
    <div class="about__inner">
      <h2 class="section__sub--pr">О нас</h2>
      <img src="img/about-1.png" alt="" />
      <p>
        NOVA Medical Centre был основан в 2010 году с целью внесения вклада в
        улучшение состояния здоровья населения. На современном этапе оказание
        высококвалифицированной медицинской помощи невозможно без инновационных
        технологий. Это стало основой для привлечения к работе как
        отечественных, так и зарубежных инвесторов. <br /><br />

        На сегодняшний день NOVA Medical Centre занимает одну из лидирующих
        позиций в области оказания медицинских услуг и имеет свои филиалы в
        девяти городах Казахстана - в Кызылорде, Усть-Каменогорске, Семее,
        Талдыкоргане, Костанае, Жезказгане, Экибастузе, Павлодаре и Алматы. В
        наших клиниках работают опытные врачи-радиологи, специализирующиеся на
        МРТ и интегрированной системе PACS. Около 100 квалифицированных
        специалистов неустанно трудятся на благо здоровья населения. Врачи NOVA
        Medical Centre - сплоченный коллектив, постоянно повышающий свой
        профессиональный уровень. Наш девиз - качественная медицинская услуга и
        благодарный пациент.
        <br /><br />
        Мы стремимся к улучшению здоровья населения, которому мы служим,
        предоставляя широкий спектр услуг с исключительной заботой и
        индивидуальным подходом к каждому пациенту. С начала деятельности за
        медицинской помощью к нам обратились более 88 000 казахстанцев.
        Существует множество факторов, которые пациенты и их семьи учитывают при
        выборе больницы, но, в итоге, ни один из них не важнее, чем качество
        обслуживания. Вот почему мы следуем строгим правилам соблюдения качества
        и безопасности во всех наших клиниках и постоянно ищем пути для их
        улучшений.
      </p>
      <img src="img/about-2.png" alt="" />
      <p>
        Высокое качество услуг достигается не только благодаря
        высококвалифицированному персоналу, но и за счет современного
        диагностического оборудования. Наши клиники оснащены самой современной
        МРТ закрытого типа Superstar 1,5T, которая является одной из лучших в
        своем классе. Система многосрезового КТ сканирования NeuViz 16 позволяет
        делать трехмерные снимки для более детального анализа. <br /><br />
        16 декабря 2015 года состоялось открытие диагностической клиники NOVA
        Medical Centre в городе Алматы, являющейся шестым по счету филиалом сети
        медицинских центров по Казахстану.
        <br /><br />

        В медицинском центре установлен один из самых современных аппаратов МРТ
        нового поколения HITACHI ECHELON 1,5 Тесла. HITACHI ECHELON - это новый
        стандарт магнитно-резонансных тамографоф в 1,5 Тесла премиум класса. В
        данном аппарате воплощены огромный опыт и передовые технологии HITACHI,
        мирового лидера МРТ. Во всем мире HITACHI установила более 4 тысяч
        систем. Мы очень рады что, такой аппарат теперь имеется и у нас, в
        Алматы.
        <br /><br />
        Превосходное качество изображения позволяет установить точный диагноз
        без повторного обследования. Но, мы не хотим останавливаться на
        достигнутом. Наша команда ставит перед собой новые цели и задачи. Особое
        внимание уделяется на повышение квалификации специалистов, инвестиции в
        новые инновации, обеспечение населения качественной услугой по доступной
        цене.
      </p>
    </div>
  </div>
</section>

<!-- place for form -->

{% endblock %}
