{% extends "layouts/_layout.html" %}
{% from 'partials/_mixins.html' import icon %}

{% block content %}

<section class="faq faq__inner-page">
  <div class="container">
    <div class="faq__inner">
    
      <h2 class="section__title">ВОПРОСЫ - ОТВЕТЫ</h2>

      <div class="faq__items">
        <div class="faq__col">
          <div class="faq__item">
            <div class="faq__item--top">
              <h3>Компьютерная томография это?</h3>
              <div class="faq__item--icon">
                {{ icon('plus-open')}}
              </div>
            </div>
            <div class="faq__item--content">
              <p>Врач-рентгенолог, высшей категории. Проведение МРТ-исследований: головного мозга, костно-суставной системы, органов грудной клетки, органов брюшной полости и забрюшинного пространства, органов малого таза . Перед исследованиями следует продолжить прием лекарств (если они Вам назначены), рекомендуется умеренный прием пищи. - Необходимо сообщить о наличии металлических суставных протезов, искусственных сердечных клапанов, электронных медицинских устройств, электронных имплантатов среднего уха или имплантатов в зубном ряду.</p>
              <div class="faq__item--links">
                <h4>Полезные ссылки</h4>
                <ul>
                  <li><a href="#">«Дорожная карта бизнеса-2020»</a></li>
                  <li><a href="#">«Дорожная карта бизнеса-2020»</a></li>
                  <li><a href="#">«Дорожная карта бизнеса-2020»</a></li>
                  <li><a href="#">«Дорожная карта бизнеса-2020»</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="faq__item">
            <div class="faq__item--top">
              <h3>Компьютерная томография это?</h3>
              <div class="faq__item--icon">
                {{ icon('plus-open')}}
              </div>
            </div>
            <div class="faq__item--content">
              <p>Врач-рентгенолог, высшей категории. Проведение МРТ-исследований: головного мозга, костно-суставной системы, органов грудной клетки, органов брюшной полости и забрюшинного пространства, органов малого таза . Перед исследованиями следует продолжить прием лекарств (если они Вам назначены), рекомендуется умеренный прием пищи. - Необходимо сообщить о наличии металлических суставных протезов, искусственных сердечных клапанов, электронных медицинских устройств, электронных имплантатов среднего уха или имплантатов в зубном ряду.</p>
              <div class="faq__item--links">
                <h4>Полезные ссылки</h4>
                <ul>
                  <li><a href="#">«Дорожная карта бизнеса-2020»</a></li>
                  <li><a href="#">«Дорожная карта бизнеса-2020»</a></li>
                  <li><a href="#">«Дорожная карта бизнеса-2020»</a></li>
                  <li><a href="#">«Дорожная карта бизнеса-2020»</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="faq__col">
          <div class="faq__item">
            <div class="faq__item--top">
              <h3>Компьютерная томография это?</h3>
              <div class="faq__item--icon">
                {{ icon('plus-open')}}
              </div>
            </div>
            <div class="faq__item--content">
              <p>Врач-рентгенолог, высшей категории. Проведение МРТ-исследований: головного мозга, костно-суставной системы, органов грудной клетки, органов брюшной полости и забрюшинного пространства, органов малого таза . Перед исследованиями следует продолжить прием лекарств (если они Вам назначены), рекомендуется умеренный прием пищи. - Необходимо сообщить о наличии металлических суставных протезов, искусственных сердечных клапанов, электронных медицинских устройств, электронных имплантатов среднего уха или имплантатов в зубном ряду.</p>
              <div class="faq__item--links">
                <h4>Полезные ссылки</h4>
                <ul>
                  <li><a href="#">«Дорожная карта бизнеса-2020»</a></li>
                  <li><a href="#">«Дорожная карта бизнеса-2020»</a></li>
                  <li><a href="#">«Дорожная карта бизнеса-2020»</a></li>
                  <li><a href="#">«Дорожная карта бизнеса-2020»</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="faq__item">
            <div class="faq__item--top">
              <h3>Компьютерная томография это?</h3>
              <div class="faq__item--icon">
                {{ icon('plus-open')}}
              </div>
            </div>
            <div class="faq__item--content">
              <p>Врач-рентгенолог, высшей категории. Проведение МРТ-исследований: головного мозга, костно-суставной системы, органов грудной клетки, органов брюшной полости и забрюшинного пространства, органов малого таза . Перед исследованиями следует продолжить прием лекарств (если они Вам назначены), рекомендуется умеренный прием пищи. - Необходимо сообщить о наличии металлических суставных протезов, искусственных сердечных клапанов, электронных медицинских устройств, электронных имплантатов среднего уха или имплантатов в зубном ряду.</p>
              <div class="faq__item--links">
                <h4>Полезные ссылки</h4>
                <ul>
                  <li><a href="#">«Дорожная карта бизнеса-2020»</a></li>
                  <li><a href="#">«Дорожная карта бизнеса-2020»</a></li>
                  <li><a href="#">«Дорожная карта бизнеса-2020»</a></li>
                  <li><a href="#">«Дорожная карта бизнеса-2020»</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

{% endblock %}