.hero
  position: relative
  width: 100%
  height: 840px
  &__slider
    position: relative
    width: 100%
    height: 100%
    .swiper
      &-wrapper,
      &-slide 
        height: 100%
    .swiper-pagination
      bottom: 150px
      width: 50%
      @media (max-width: $middle)
        bottom: 80px
    .swiper-pagination-bullet
      position: relative
      background-color: transparent 
      border: 1px solid #fff
      margin: 0 10px !important
      &-active
        &::before
          content: ''
          position: absolute
          top: -5px
          left: -5px
          width: calc(100% + 10px)
          height: calc(100% + 10px)
          border: 1px solid #ffffff
          border-radius: 50%
          border-bottom-color: transparent 
          border-right-color: transparent 
          transform: rotate(45deg)
  &__item
    position: relative
    width: 100%
    height: 100%
    background-size: cover
    background-position: center
    &::after
      content: ''
      position: absolute
      top: 0
      left: 0
      background: linear-gradient(100.19deg, rgba(53, 70, 96, 0.45) 30.88%, rgba(57, 76, 104, 0.18) 82.11%, rgba(62, 84, 116, 0) 104.85%)
      width: 100%
      height: 100%
      opacity: .9
      z-index: 1
    &--content 
      position: relative
      width: 60%
      height: 100%
      padding: 100px 0
      z-index: 2
      @media (max-width: $middle)
        width: 90%
      @media (max-width: $small)
        width: calc(100% - 30px)
      h1.hero__title 
        font-size: 60px
        font-weight: 700
        color: #fff
        @media (max-width: $small)
          font-size: 30px
      ul 
        width: 50%
        margin-top: 20px
        @media (max-width: $small)
          width: 100%
        li 
          position: relative
          margin: 42px 0
          padding-left: 90px
          color: #fff
          font-size: 18px
          font-weight: 700
          &::before
            content: ''
            position: absolute
            top: 50%
            left: 2px
            transform: translateY(-50%)
            width: 48px
            height: 48px
            background-repeat: no-repeat
            background-size: contain
            background-position: center
          &:first-of-type::before
            background-image: url('../img/main-page/health-care.svg')
          &:nth-of-type(2)::before
            background-image: url('../img/main-page/first-aid-kit.svg')
          &:nth-of-type(3)::before
            background-image: url('../img/main-page/hospital.svg')
  &__btns
    margin-top: 55px
    @media (max-width: $small)
      display: flex
      flex-direction: column
    a 
      margin-right: 20px
      @media (max-width: $small)
        margin: 10px 0
        text-align: center

.section__title
  position: relative
  font-size: 40px
  font-weight: 600
  color: $color-text-dark
  text-transform: uppercase
  padding-left: 40px
  @media (max-width: $small)
    font-size: 28px
    padding-left: 20px
  &::before
    content: ''
    position: absolute
    top: 0
    left: 0
    width: 3px
    height: 100%
    background-color: $color-accent
  &--inner
    position: relative
    font-size: 40px
    font-weight: 600
    color: $color-text-dark

.trust
  position: relative
  width: 100%
  height: 680px
  padding: 100px 0
  overflow: hidden
  z-index: 2
  @media (max-width: $small)
    height: auto

  
  &__inner
    position: relative
    width: 100%
    height: 100%
    display: flex
    justify-content: space-between
    @media (max-width: $small)
      flex-direction: column

  &__left
    position: relative
    width: 50%
    @media (max-width: $middle)
      width: 60%
    @media (max-width: $small)
      width: 100%
    
    img 
      width: 80%
      display: block
      margin-bottom: 20px

    h2 
      margin-bottom: 40px

  &__items
    position: relative
    width: 100%
    display: flex
    justify-content: space-between
  &__item
    position: relative
    width: 49%
    padding: 36px 26px
    border-radius: 5px
    background-color: #fff
    box-shadow: 0px 4px 50px rgba(147, 157, 157, 0.25)
    z-index: 2
    @media (max-width: $small)
      padding: 30px 20px
    h4 
      position: relative
      font-size: 40px
      font-weight: 600
      color: $color-sec
      padding-bottom: 15px
      margin-bottom: 20px
      @media (max-width: $small)
        font-size: 30px
      &::before
        content: ''
        position: absolute
        bottom: 0
        left: 0
        width: 50px
        height: 2px
        background-color: $color-sec
    p 
      font-size: 20px
      font-weight: 700
      color: $color-text-dark
  &__right
    position: relative
    width: 50%
    height: 100%
    display: flex
    justify-content: center
    @media (max-width: $middle)
      width: 40%
    @media (max-width: $small)
      width: 100%
    &::after
      content: ''
      position: absolute
      right: 0
      bottom: -150px
      width: 120%
      height: 150%
      background-image: url('../img/main-page/trust-doctor.png')
      background-size: contain
      background-position: center
      background-repeat: no-repeat
      pointer-events: none
      z-index: 2
      @media (max-width: $middle)
        display: none
      @media (max-width: $small)
        display: none

  &__video
    position: relative
    width: 300px
    height: 300px
    margin-top: 20px
    margin-right: 100px
    background-size: cover
    background-position: center
    border-radius: 50%
    display: flex
    justify-content: center
    align-items: center
    z-index: 1
    @media (max-width: $middle)
      margin-right: 50px
    @media (max-width: $small)
      margin: 20px auto
    a 
      position: relative
      font-size: 14px
      font-weight: 600
      color: #ffffff
      padding-top: 90px
      text-decoration: none
      z-index: 3
      &::before
        content: ''
        position: absolute
        top: 0
        left: 50%
        transform: translateX(-50%)
        width: 80px
        height: 80px
        background-image: url('../img/main-page/play.svg')
        background-size: contain
        background-repeat: no-repeat
        background-position: center

.services
  position: relative
  width: 100%
  padding: 100px 0
  background-color: #f3f3f3
  &__inner
    position: relative
    width: 100%
    a.btn__primary
      display: block
      margin: 25px auto 0 auto
      width: 300px
      text-align: center
  &__items
    position: relative
    width: 100%
    margin-top: 50px
    display: flex
    justify-content: space-between
    flex-wrap: wrap
  &__item 
    position: relative
    min-width: 282px
    width: 24%
    height: 282px
    display: flex 
    flex-direction: column  
    justify-content: center
    align-items: center
    border-radius: 5px
    margin-bottom: 55px
    background-size: cover
    background-position: center
    @media (max-width: $middle)
      margin: 0 auto 55px auto
    &:before
      content: ''
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background-color: #fff
      border-radius: 5px
      opacity: 1
      transition: .3s ease-in
      z-index: 2
    &:after
      content: ''
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background: linear-gradient(0deg, rgba(26, 29, 41, 0.25), rgba(26, 29, 41, 0.25))
      border-radius: 5px
      opacity: 0
      transition: .3s ease-in
      z-index: 2
    &:hover
      &:before
        opacity: 0
      &:after
        opacity: 1
      .services__item--icon img 
        // fill: #fff
        filter: brightness(3)
      h4 
        color: #fff
    &--icon 
      position: relative
      width: 20%
      height: 20%
      display: flex
      justify-content: center
      z-index: 3
      img 
        width: 100%
        height: 100%
        // fill: $color-accent
        filter: brightness(1)
        transition: .3s ease-in
    h4 
      position: relative
      font-size: 14px
      color: $color-text-dark
      letter-spacing: 0.05em 
      text-transform: uppercase 
      margin-top: 35px 
      transition: .3s ease-in
      z-index: 4 
    a 
      position: absolute
      bottom: 0
      left: 50%
      transform: translate(-50%, 50%)
      z-index: 5

.feeds
  position: relative
  width: 100%
  padding: 100px 0 0 0
  .container 
    overflow-y: hidden
  &__inner
    position: relative
    width: 100%
    padding-bottom: 100px
  &__head
    position: relative
    width: 100%
    display: flex
    justify-content: space-between
    @media (max-width: $small)
      flex-direction: column

  &__slider
    margin-top: 50px
    &--nav
      position: relative
      display: flex
      @media (max-width: $small)
        justify-content: center
        margin-top: 20px
    &--prev,
    &--next 
      position: relative
      width: 68px
      height: 68px
      display: flex
      justify-content: center
      align-items: center
      background: linear-gradient(166.32deg, #68CAE2 -8.8%, rgba(104, 202, 226, 0.6) 176.64%)
      box-shadow: 0px 4px 50px rgba(147, 157, 157, 0.25)
      border-radius: 50%
      border: 1px solid transparent
      margin: 0 10px
      cursor: pointer
      transition: .3s ease-in
      &:hover
        background: transparent
        border-color: $color-accent
        svg 
          fill: $color-accent
      svg 
        width: 16px
        height: 28px
        fill: #fff 
        transition: .3s ease-in
    &--prev 
      svg 
        transform: translateX(-20%)
    &--next 
      svg 
        transform: translateX(20%)
    &--init 
      overflow: visible
      @media (max-width: $small)
        overflow: hidden

  &__item
    position: relative
    width: 100%
    display: flex
    padding-top: 70px
    img 
      position: absolute
      top: 0
      left: 50%
      transform: translateX(-50%)
      width: 150px
      height: 150px
      border-radius: 50%
      object-fit: cover
      object-position: center
      z-index: 2
    &--content 
      position: relative
      width: 100%
      display: block
      padding: 85px 40px 60px 40px
      background-color: #fff
      box-shadow: 0px 4px 50px rgba(147, 157, 157, 0.25)
      z-index: 1
      text-align: center
      h4 
        color: $color-accent
        margin-bottom: 25px
      span 
        display: inline-block
        margin-bottom: 20px
      p 
        color: $color-text-dark

.wip
  position: relative
  width: 100%
  padding: 100px 0
  &__inner
    position: relative
    width: 100%
    .section__title
      width: 80%
  &__more
    position: relative
    background: linear-gradient(167.41deg, #68CAE2 -8.8%, rgba(104, 202, 226, 0.6) 176.64%)
    box-shadow: 0px 4px 40px rgba(104, 202, 226, 0.4)
    border-radius: 50px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    width: 122px
    height: 112px
    text-decoration: none
    margin: 90px auto
    transition: .3s ease-in
    border: 2px solid transparent
    @media (max-width: $middle)
      margin: 30px auto
    &:hover
      background: #fff
      border-color: $color-accent
      svg 
        fill: $color-accent
        transform: rotate(360deg)
      span 
        color: $color-accent
    svg 
      width: 34px
      height: 34px
      fill: #ffffff
      margin-bottom: 5px
      transform-origin: 50% 50%
      transition: fill .3s ease-in
      transition: transform .5s ease-in
    span 
      width: 75%
      text-align: center
      font-size: 14px
      font-weight: 600
      letter-spacing: 0.05em
      color: #ffffff
      text-decoration: none
      transition: .3s ease-in
  &__items
    position: relative
    width: 100%
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    margin-top: 50px
  &__item 
    position: relative
    min-width: 280px
    width: 49%
    height: 320px
    // background-size: 120%
    background-size: cover
    background-position: center
    margin-bottom: 25px
    @media (max-width: $small)
      width: 100%
      height: 190px
    a 
      width: 100%
      height: 100%
      display: flex
      justify-content: center
      align-items: center
      flex-direction: column
      text-decoration: none
      &:hover
        text-decoration: none
      svg 
        width: 20%
        height: 20%
        fill: #fff 
      label 
        font-size: 15px
        font-weight: 700
        text-transform: uppercase
        color: #fff
        text-decoration: none
        margin-top: 25px
        cursor: pointer

.experts
  position: relative
  width: 100%
  padding: 100px 0
  background-color: #f3f3f3
  @media (max-width: $small)
    padding-bottom: 0
  &__inner
    position: relative
    width: 100%
  &__head
    position: relative
    width: 100%
    display: flex
    justify-content: space-between
    @media (max-width: $small)
      flex-direction: column


  &__slider
    overflow: hidden
    margin-top: 50px
    height: 550px
    padding-right: 20px
    &--init 
      overflow: visible
    &--nav
      position: relative
      display: flex
      @media (max-width: $small)
        justify-content: center
        margin-top: 30px
    &--prev,
    &--next 
      position: relative
      width: 68px
      height: 68px
      display: flex
      justify-content: center
      align-items: center
      background: linear-gradient(166.32deg, #68CAE2 -8.8%, rgba(104, 202, 226, 0.6) 176.64%)
      box-shadow: 0px 4px 50px rgba(147, 157, 157, 0.25)
      border-radius: 50%
      border: 1px solid transparent
      margin: 0 10px
      cursor: pointer
      transition: .3s ease-in
      &:hover
        background: transparent
        border-color: $color-accent
        svg 
          fill: $color-accent
      svg 
        width: 16px
        height: 28px
        fill: #fff 
        transition: .3s ease-in
    &--prev 
      svg 
        transform: translateX(-20%)
    &--next 
      svg 
        transform: translateX(20%)

  &__item
    position: relative
    width: 100%
    height: 450px
    display: flex
    align-items: flex-end
    &::after
      content: ''
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      background: linear-gradient(0.74deg, rgba(52, 81, 156, 0.6) 2.84%, rgba(255, 255, 255, 0) 70.58%)
      opacity: .9
      z-index: 1
    img 
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      top: 0
      left: 0
      object-fit: cover
      object-position: cener
    &--desc 
      position: relative
      width: 100%
      padding: 35px 30px
      color: #ffffff
      z-index: 3
    a.btn__white 
      position: absolute
      bottom: 0
      right: 0
      transform: translate(5%, 50%)
      z-index: 4

.faq
  position: relative
  width: 100%
  padding: 100px 0
  background-color: #f3f3f3
  &__inner
    position: relative
    width: 100%
  &__items
    position: relative
    width: 100%
    margin-top: 50px
    display: flex
    justify-content: space-between
    @media (max-width: $small)
      flex-direction: column
  &__col
    width: 49%
    @media (max-width: $small)
      width: 100%
  &__item
    position: relative
    width: 100%
    min-width: 280px
    margin-bottom: 25px
    &.is-open
      .faq__item
        &--content
          max-height: 600px
        &--icon svg 
          transform: rotate(45deg)
          stroke: #7D7D7D
    
    &--top
      position: relative
      width: 100%
      height: 144px
      display: flex
      align-items: center
      justify-content: space-between
      padding: 0 40px
      background-color: #fff
      box-shadow: 0px 21px 40px rgba(131, 131, 132, 0.2)
      border-radius: 2px
      cursor: pointer
      z-index: 2
    &--icon
      position: relative
      width: 28px
      height: 28px
      svg 
        width: 100%
        height: 100%
        fill: none
        stroke: #60DA6C
        transition: .3s ease-in
    &--content 
      position: relative
      width: 100%
      max-height: 0px
      padding: 0 40px
      background-color: #fff
      z-index: 1
      overflow: hidden
      transition: .5s ease-in
      p 
        margin-top: 60px
        margin-bottom: 36px
    &--links
      position: relative
      // margin-top: 36px
      margin-bottom: 60px

      h4 
        position: relative
        margin-bottom: 20px

      ul
        position: relative
        display: flex
        flex-wrap: wrap
        li 
          width: 49%
          @media (max-width: $small)
            width: 100% 
            margin: 2px 0
          a 
            position: relative
            font-size: 14px
            color: #0F8CFF
            padding-left: 30px
            &::before
              content: ''
              position: absolute
              top: 50%
              left: 0
              transform: translateY(-50%)
              width: 18px
              height: 18px
              background-image: url('../img/link.svg')
              background-size: contain
              background-position: center



