{% import "partials/_mixins.html" as mixins %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>NOVA - НЕ ТЕРПИТЕ БОЛЬ ПРОЙДИТЕ ДИАГНОСТИКУ В НАШЕМ ЦЕНТРЕ</title>
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#fff" />
    <meta name="format-detection" content="telephone=no" />
    <link rel="stylesheet" href="data/swiper.min.css" />
    <link rel="stylesheet" href="data/jquery.fancybox.css" />
    <link rel="stylesheet" media="all" href="css/app.css" />
    {# {% include "../partials/_media-tags.html" %} #}
  </head>
  <body>
    <!--  BEGIN HEADER -->
    {% include "../partials/_header.html" %}
    <!-- END HEADER -->

    <!-- BEGIN CONTENT -->
    <main class="main">
      {% block content %}{% endblock %}
    </main>
    <!-- END CONTENT -->

    <!-- BEGIN FOOTER -->
    {% include "../partials/_footer.html" %}
    <!-- END FOOTER -->

    <!-- BEGIN SCRIPTS -->
    <script type="text/javascript" src="js/app.js"></script>
    <!-- END SCRIPTS -->
  </body>
</html>
