.icon-arrow-left {
  width: 0.57em;
  height: 1em;
  fill: initial;
}
.icon-arrow-right {
  width: 0.57em;
  height: 1em;
  fill: initial;
}
.icon-facebook {
  width: 0.53em;
  height: 1em;
  fill: initial;
}
.icon-play {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-plus-close {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-plus-open {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-refresh {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-services-icon-1 {
  width: 1em;
  height: 1em;
  fill: initial;
}
